{% from "_formhelpers.html" import render_field %}
 {% extends "base.html" %}
 {% block body %}
<h1>Mt. Hood Avalanche condition</h1>
<p>Select a date for which to estimate avalanche warning</p>
<form method=post action="/result">
  <dl>
      {# {{ render_field(form.username) }} #}
    {{ render_field(form.date) }}
  </dl>
  <p><input type=submit value=Estimate>
</form>

<p>In the future:</p>
<ul>
    <li>Map widget (select locations besides mount hood)</li>
    <li>More accurate results</li>
</ul>

 {% endblock %}
