{% extends "app.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
jQuery.getJSON("{{url_for('plotdata', **request.args)}}",
        function (dic) {
            console.log(dic);
            var data = dic['children'];
            console.log(data);
            Plotly.newPlot('plot', data);
        });
</script>
{% endblock %}

{% block page %}
<h1>Raw Data for Site {{site_id}} on {{date}}</h1>
<a href="http://wcc.sc.egov.usda.gov/nwcc/site?sitenum={{site_id}}">source</a>

<div id="plot" style="width: 100%; height: 600px;"></div>
{% endblock page %}
