html, body {height: 100%; margin: 0; padding: 0; }
#map { height: 100%; width:50%; float: right;}
.left { float: left; padding: 50px;}

.score { border : 1px solid black; }

.low {background-color: green; }
.moderate {background-color: yellow; }
.considerable {background-color: orange; }
.high {background-color: red; }
.extreme {background-color: red; font-color: white;}
