.score { border : 1px solid black; }

.low {background-color: green; }
.moderate {background-color: yellow; }
.considerable {background-color: orange; }
.high {background-color: red; }
.extreme {background-color: red; font-color: white;}
