body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map { height: 400px; width:100%;}

.score { border : 1px solid black; }

.low {background-color: green; }
.moderate {background-color: yellow; }
.considerable {background-color: orange; }
.high {background-color: red; }
.extreme {background-color: red; font-color: white;}
